<div class="flex flex-col bg-primary-base px-5 lg:px-14 h-[100px]">
  <div class="flex my-auto">
    <a href="/" aria-label="Valery Melou">
      <img
        ngSrc="/assets/images/vm-logo.png"
        alt=""
        [width]="48"
        [height]="48"
        [priority]="true"
      />
    </a>
    <div class="fixed top-20 right-0 bottom-0 left-0 bg-primary-active opacity-50 blur-sm md:hidden" *ngIf="!hidden" (click)="toggle()"></div>
    <nav
      class="ml-auto text-white font-medium fixed top-0 right-0 bottom-0 min-w-[75vw] max-w-[400px] lg:min-w-0 flex flex-col lg:relative lg:flex-row lg:translate-x-0 lg:max-w-none bg-primary-active lg:bg-transparent pt-20 lg:pt-0 transition-transform duration-300 ease-in-out"
      [ngClass]="{ 'translate-x-full': hidden, 'translate-x-0': !hidden }"
    >
      <a
        [routerLink]="link.path"
        *ngFor="let link of links; let i = index"
        class="hover:text-accent-base md:text-sm transition-colors duration-300 ease-in-out flex flex-row-reverse lg:flex-row items-center px-5 py-4"
      >
        <span class="text-accent-base">{{ '0' + (i + 1) }}.</span>
        <span class="px-2">{{ link.label }}</span>
      </a>
    </nav>
    <button
      aria-label="Toggle Navbar"
      class="ml-auto inline-flex lg:hidden text-white z-10"
      (click)="toggle()"
    >
      <ng-icon [name]="hidden ? 'heroBars3BottomRight' : 'heroXMark'" size="36"></ng-icon>
    </button>
  </div>
</div>
