<div>
  <div>
    <h1 class="pb-10 text-blue-100 text-xl md:text-2xl flex flex-1 items-center font-bold after:relative after:w-auto md:after:w-80 after:h-0.5 after:bg-secondary after:ml-4">Some Things I've Built</h1>
  </div>
  <ul>
    <li *ngFor="let project of projects; let i = index;" class="group grid grid-cols-12 relative mb-24">
      <div class="flex flex-col justify-center p-4 md:p-0 row-start-1 row-end-[-1] col-start-1 col-end-[-1] md:group-odd:col-start-7 md:group-odd:col-end-[-1] md:group-even:col-start-1 md:group-even:col-end-7 md:group-odd:text-right z-20 bg-secondary md:bg-transparent opacity-90 md:opacity-100">
        <p class="mb-3 text-accent text-sm">Featured Project</p>
        <h2 class="text-blue-100 text-2xl font-bold">{{ project.name }}</h2>
        <div class="p-4 shadow-0 md:shadow-md bg-secondary my-6 rounded">{{ project.description }}</div>
        <p *ngIf="project.tags.length !== 0">
          <span *ngFor="let tag of project.tags" class="inline-block group-even:mr-3 group-odd:ml-3">{{ tag }}</span>
        </p>
        <div class="mt-4">
          <a [href]="project.repository" *ngIf="project.repository" target="_blank" rel="noopener noreferrer" aria-label="Github Link">
            <ng-icon name="feather-github" size="24" class="text-blue-100 hover:text-accent focus:text-accent active: text-focus transition-colors"></ng-icon>
          </a>
          <a [href]="project.demo" *ngIf="project.demo" target="_blank" rel="noopener noreferrer" aria-label="Demo Link">
            <ng-icon name="hero-external-link" size="24" class="text-blue-100 hover:text-accent focus:text-accent active: text-focus transition-colors"></ng-icon>
          </a>
        </div>
      </div>
      <div class="row-start-1 row-end-[-1] col-start-1 col-end-[-1] md:group-odd:col-start-1 md:group-odd:col-end-8 md:group-even:col-start-6 md:group-even:col-end-[-1]">
        <figure class="relative before:block before:absolute before:top-0 before:left:0 before:bg-accent before:opacity-20 before:w-full before:h-full before:rounded-md before:z-10 before:hover:bg-transparent before:transition-all shadow-md">
          <img [src]="project.preview" alt="{{ project.name }}" width="580" class="rounded">
        </figure>
      </div>
    </li>
  </ul>
</div>
