language: ruby
rvm:
  - 2.5.0

sudo: false

env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true

install: gem install html-proofer

before_script:
  - bundle install

script:
  - bundle exec jekyll build
  - htmlproofer ./_site --check_favicon --url-ignore https://linkedin.com/in/valerymelou

cache: bundler

branches:
  only:
    - master
    - /^feature.*$/
    - /^greenkeeper/.*$/
    - /^dependabot/.*$/
