<div class="about page">
  <app-hero [full]="false" [title]="title" [strap]="strap"></app-hero>

  <div class="container content">
    <div class="row flex-sm-row">
      <div class="col-md-8 col-sm-12">
        <div>
          <h2 class="mt-0">Send me a message</h2>
          <form action="/" name="contact" method="POST" data-netlify="true" netlify-honeypot="username">
            <input type="text" name="username" class="hidden">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="contactName">Name</label>
                  <input type="text" name="name" id="contactName" class="form-control form-control" placeholder="Your name">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="contactEmail">Email address</label>
                  <input type="email" name="email" id="contactEmail" class="form-control form-control" placeholder="Your email address">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="contactSubject">Message</label>
              <input type="text" name="subject" id="contactSubject" class="form-control form-control" placeholder="Subject of your message">
            </div>
            <div class="form-group">
              <label for="contactMessage">Message</label>
              <textarea name="message" id="contactMessage" rows="8" class="form-control form-control" placeholder="Type your message here"></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Send message</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <app-contact-card></app-contact-card>
      </div>
    </div>
  </div>
</div>
