<div class="min-h-screen flex flex-col">
  <vm-navbar></vm-navbar>
  <main class="flex-1">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea impedit eligendi tenetur, dolore atque mollitia sint voluptates praesentium recusandae repellat cumque harum. Explicabo aperiam dolorem suscipit provident totam sit commodi.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae accusantium quasi excepturi, voluptatum ea itaque perspiciatis ipsa accusamus facilis unde dolore at quam perferendis totam ad reiciendis odio aperiam maiores?</p>
    <router-outlet></router-outlet>
  </main>
  <vm-footer></vm-footer>
</div>
