@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@angular/cdk/overlay-prebuilt.css';

.base {
  background-color: transparent;
  background-image: url('/assets/images/looper.svg');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right;
  background-attachment: fixed;
}

.dark .base {
  background-image: url('/assets/images/looper-dark.svg');
}
