<div class="hero" [class.full]="full">
  <div class="wrapper" [class.full]="full">
    <img src="assets/images/blob.png" class="path" alt="">
    <img src="assets/images/triunghiuri.png" class="shapes triangle" alt="">
    <div class="container">
      <div class="row mt-auto">
        <div class="col-md-6">
          <h1 class="hero-title">{{ title }}</h1>
          <p class="hero-strap">{{ strap }}</p>
          <div class="hero-actions" *ngIf="full">
            <a href="" class="btn btn-primary">See my work</a>
            <span class="d-inline-block mx-3">or</span>
            <a href="" class="btn bg-white">Get in touch</a>
          </div>
        </div>
      </div>
      <ul class="nav social-nav mt-auto">
        <li class="nav-item" *ngFor="let link of socialLinks">
          <a [href]="link.route" class="nav-link" target="_blank" rel="noopener" [attr.aria-label]="link.label" [title]="link.label">
            <span [class]="'icon ' + link.icon"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
