@import "src/theme/utils";

.hero {
  background-color: $default;
  color: $white;

  &.full {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
  }
}

.wrapper {
  background-image: url('/assets/images/dots.png');
  background-size: contain;

  &.full {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
  }
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: $navbar-height 1rem;
  justify-content: center;
}

.hero-actions {
  margin: 2rem 0;

  .btn {
    text-transform: uppercase;
  }
}

.hero-title {
  font-weight: 400;
  margin: 2rem 0;
}

.hero-strap {
  font-size: 1.2rem;
  font-weight: 300;
}
