@import "src/theme/utils";

.project {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(md) {
    flex-direction: row;
  }
}

.timeline {
  position: relative;
  min-width: 130px;

  @include media-breakpoint-up(md) {
    padding: .8rem;
    border-right: 1px solid #ddd;
  }
}

.project-period {
  font-style: italic;
  color: $primary;

  @include media-breakpoint-up(md) {
    color: #666;
  }

  &:before {
    @include media-breakpoint-up(md) {
      position: absolute;
      top: 20px;
      right: -5px;
      display: block;
      width: 10px;
      height: 10px;
      content: "";
      background-color: $primary;
      border-radius: 50%;
    }
  }
}

.project-content {
  width: 100%;
  position: relative;
  padding: 0;

  @include media-breakpoint-up(md) {
    padding-top: 0;
    padding-left: 2rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
  }
}

.project-title {
  margin: 0 0 .5rem;
  font-size: 2rem;
  font-weight: 400;
}

.project-screenshot {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 1rem 0;
}

.project-description {
  margin: 2rem 0 1rem;
}

.project-divider {
  height: 1px;
  margin-top: 2rem;
  background-color: #ddd;
  border: none;
}
