<div class="portfolio page">
  <app-hero [full]="false" [title]="title" [strap]="strap"></app-hero>

  <div class="container content">
    <div class="projects">
      <div class="project" *ngFor="let project of projects">
        <div class="timeline">
          <span class="project-period">{{ project.period }}</span>
        </div>
        <div class="project-content">
          <h2 class="project-title">{{ project.name }}</h2>
          <div class="project-abstract">{{ project.shortDescription }}</div>
          <img [defaultImage]="'assets/images/nothing.png'" [lazyLoad]="project.screenshotUrl" alt="{{ project.name }}" class="project-screenshot">
          <div class="project-description">{{ project.description }}</div>
          <div class="mb-3">
            <h3>Technologies</h3>
            <span *ngFor="let tech of project.technologies" class="badge badge-secondary d-inline-block mr-2">{{ tech }}</span>
          </div>
          <a [href]="project.link" class="btn btn-primary" target="_blank" rel="noopener">View online</a>
          <hr class="project-divider">
        </div>
      </div>
    </div>
  </div>
</div>
