.po-Project {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $media-breakpoint-md) {
    flex-direction: row;
  }
}

.po-Project_Timeline {
  position: relative;
  min-width: 130px;
  max-width: 130px;

  @media screen and (min-width: $media-breakpoint-md) {
    padding: .8rem;
    border-right: 1px solid #ddd;

    &:before {
      position: absolute;
      display: block;
      content: "";
      right: -5px;
      top: 20px;
      height: 10px;
      width: 10px;
      background-color: $primary-color;
      border-radius: 50%;
    }
  }
}

.po-Project_Timeline_Date {
  color: $primary-color;
  font-style: italic;
}

.po-Project_Content {
  padding: 0;

  @media screen and (min-width: $media-breakpoint-md) {
    padding: 0 1.5rem 2rem;
  }
}

.po-Project_Title {
  font-size: 2rem;
  font-weight: 400;
}

.po-Project_Screenshot {
  display: block;
  margin: 1rem 2rem;
}

.po-Project_Tech {
  display: inline-block;
  padding: .1rem .3rem;
  background-color: $primary-color;
  color: #fff;
  border-radius: 3px;
  font-size: .9rem;
}

.po-Project_Divider {
  margin-top: 2rem;
  height: 1px;
  background-color: #ddd;
  border: none;
}
