.site-Sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: $sidebar-width-sm;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 .2rem;
  background: $dark-color;
  color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1000;

  @media screen and (min-width: $media-breakpoint-sm) {
    width: $sidebar-width-md;
    padding: 2.5rem 2.5rem 0.5rem 2.5rem;
  }
}

.site-Sidebar_Header {
  display: flex;
}

.site-Brand {
  display: flex;
  align-items: center;
  height: 64px;
  width: 100%;
  color: #fff;
  overflow: hidden;

  &:focus,
  &:hover {
    color: $accent-color;
    text-decoration: none;
  }

  @media screen and (min-width: $media-breakpoint-sm) {
    height: auto;
  }
}

.site-Brand_Logo {
  transition: transform .4s;
  margin-right: auto;
  max-width: 100%;

  @media screen and (min-width: $media-breakpoint-sm) {
    .is-loading & {
      transform: translateX(-100%);
    }
  }
}

.site-Brand_Meta {
  transition: transform .4s;
  display: none;

  @media screen and (min-width: $media-breakpoint-sm) {
    display: block;

    .is-loading & {
      transform: translateX(100%);
    }
  }
}

.site-Brand_Name {
  margin: 0;
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;

  @media screen and (min-width: $media-breakpoint-sm) {
    text-align: right;
  }
}

.site-Brand_Title {
  margin: 0;
  font-size: .7rem;
  text-align: right;
  text-transform: uppercase;
}

.site-Nav {
  display: flex;
  margin: auto 0;
  flex-direction: column;
}

.site-Nav_Link {
  position: relative;
  height: 40px;
  line-height: 40px;
  color: transparentize(#fff, .6);
  font-size: .8rem;
  font-weight: 700;
  letter-spacing: 2px;
  opacity: 1;
  text-align: center;
  text-transform: uppercase;
  transform: translateY(0);
  transition: opacity .15s ease, transform .75s ease;

  svg {
    display: inline;

    @media screen and (min-width: $media-breakpoint-sm) {
      display: none;
    }
  }

  & + .site-Nav_Link {
    margin-top: 1rem;
  }

  &:focus,
  &:hover {
    color: transparentize(#fff, .4);
    text-decoration: none;

    &:after {
      max-width: 100%;
    }
  }

  &:after,
  &:before {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 2.5px;
    background-color: transparentize($primary-color, .7);
    border-radius: .2rem;
    content: '';
  }

  &:after {
    background-image: linear-gradient(to right, $primary-color, $accent-color);
    transition: max-width 0.2s ease;
    max-width: 0;
  }

  .is-loading & {
    opacity: 0;
    transform: translateY(1rem);
  }

  // Set different transition delay times to each link
  $transition-delays: .45 .65 .85 1.05 1.25;
  @each $transition-delay in $transition-delays {
    $index: index($transition-delays, $transition-delay);
    &:nth-child(#{$index}) {
      transition-delay: #{$transition-delay}s;
    }
  }

  @media screen and (min-width: $media-breakpoint-sm) {
    text-align: right;
  }
}

.site-Nav_Link-active {
  color: #fff;

  &:after {
    max-width: 100%;
  }
}

.site-Nav_Link_Text {
  display: none;

  @media only screen and (min-width: $media-breakpoint-sm) {
    display: block;
  }
}

.site-Main {
  display: flex;
  flex-direction: column;
  margin-left: $sidebar-width-sm;
  min-height: 100vh;

  @media screen and (min-width: $media-breakpoint-sm) {
    margin-left: $sidebar-width-md;
  }
}
