.site-Sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 1rem;
  background: $dark-color;
  color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  z-index: 1000;

  @media screen and (min-width: $media-breakpoint-md) {
    height: 100vh;
    width: $sidebar-width;
    padding: 2.5rem 2.5rem 0.5rem 2.5rem;
    overflow: hidden;
  }
}

.site-Sidebar_Header {
  display: flex;
}

.site-Brand {
  display: flex;
  align-items: center;
  height: 64px;
  width: 100%;
  color: #fff;
  overflow: hidden;

  &:focus,
  &:hover {
    color: $accent-color;
    text-decoration: none;
  }

  @media screen and (min-width: $media-breakpoint-md) {
    height: auto;
  }
}

.site-Brand_Logo {
  transition: transform .4s;
  margin-right: 1rem;

  .is-loading & {
    transform: translateX(-100%);
  }

  @media screen and (min-width: $media-breakpoint-md) {
    margin-right: auto;
  }
}

.site-Brand_Meta {
  transition: transform .4s;

  .is-loading & {
    transform: translateX(100%);
  }
}

.site-Brand_Name {
  margin: 0;
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;

  @media screen and (min-width: $media-breakpoint-md) {
    text-align: right;
  }
}

.site-Brand_Title {
  margin: 0;
  font-size: .7rem;
  text-align: right;
  text-transform: uppercase;
}

.site-Nav_Toggler {
  display: inline-block;
  margin-left: auto;
  background-color: transparent;
  color: #fff;
  border: none;
  box-shadow: none;
  cursor: pointer;

  &:focus {
    outline: 0;
  }

  @media screen and (min-width: $media-breakpoint-md) {
    display: none;
  }
}

.site-Nav_Collapse {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: 100vh;
  overflow: hidden;
  transition: max-height .7s;
}

.site-Nav_Collapse-collapsed {
  max-height: 0;
  transition: max-height .7s cubic-bezier(0, 1, 0.5, 1) !important;

  @media screen and (min-width: $media-breakpoint-md) {
    max-height: 100vh;
  }
}

.site-Nav {
  display: flex;
  margin: auto 0;
  flex-direction: column;
}

.site-Nav_Link {
  position: relative;
  height: 40px;
  line-height: 40px;
  color: transparentize(#fff, .6);
  font-size: .8rem;
  font-weight: 700;
  letter-spacing: 2px;
  opacity: 1;
  text-transform: uppercase;
  transform: translateY(0);
  transition: opacity .15s ease, transform .75s ease;

  & + .site-Nav_Link {
    @media screen and (min-width: $media-breakpoint-md) {
      margin-top: 1rem;
    }
  }

  &:focus,
  &:hover {
    color: transparentize(#fff, .4);
    text-decoration: none;

    &:after {
      max-width: 100%;
    }
  }

  &:after,
  &:before {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 2.5px;
    background-color: transparentize($primary-color, .7);
    border-radius: .2rem;
    content: '';
  }

  &:after {
    background-image: linear-gradient(to right, $primary-color, $accent-color);
    transition: max-width 0.2s ease;
    max-width: 0;
  }

  @media screen and (min-width: $media-breakpoint-md) {
    .is-loading & {
      opacity: 0;
      transform: translateY(1rem);
    }

    // Set different transition delay times to each link
    $transition-delays: .45 .65 .85 1.05 1.25;
    @each $transition-delay in $transition-delays {
      $index: index($transition-delays, $transition-delay);
      &:nth-child(#{$index}) {
        transition-delay: #{$transition-delay}s;
      }
    }

    @media screen and (min-width: $media-breakpoint-md) {
      text-align: right;
    }
  }
}

.site-Nav_Link-active {
  color: #fff;

  &:after {
    max-width: 100%;
  }
}

.site-Main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @media screen and (min-width: $media-breakpoint-md) {
    margin-left: $sidebar-width;
  }
}
