.st-Container {
  position: relative;
  max-width: $media-breakpoint-md;
  margin: 0 auto;
  padding: 0 1rem;

  .st-Hero & {
    overflow: hidden;
    @media screen and (min-width: $media-breakpoint-md) {
      max-width: 70%;
      margin: 0;
    }
  }

  @media screen and (min-width: $media-breakpoint-md) {
    padding: 0 4rem;
  }
}

.st-Hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  min-height: 100vh;
  padding: 4rem 0 2rem;
  background-color: $primary-color;
  color: #fff;
}

.st-Hero_Title {
  font-size: 3rem;
  margin-bottom: 1rem;
  opacity: 1;
  transform: translateY(0);
  transition: transform .75s, opacity .3s;
  transition-delay: .45s;

  .is-loading & {
    opacity: 0;
    transform: translateY(-120%);
  }
}

.st-Hero_Intro {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 300;
  opacity: 1;
  transform: translateY(0);
  transition: transform .75s, opacity .3s;
  transition-delay: .45s;

  .is-loading & {
    transform: translateY(120%);
    opacity: 0;
  }
}

.st-Hero_Intro_Link {
  display: inline-block;
  color: #fff;
  border-bottom: 1px dashed #fff;

  &:focus,
  &:hover {
    text-decoration: none;
    color: transparentize(#fff, .5);
  }
}

.st-Section {
  padding: 4rem 0;

  @media screen and (min-width: $media-breakpoint-md) {
    padding: 0 0 4rem;
  }
}

.st-Section_Title {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 1.5rem 0;
  padding: .5rem 0;

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: $primary-color;
    background-image: linear-gradient(to right, $primary-color, $accent-color);
  }
}

.st-Section_Subtitle {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.st-Section_Intro {
  margin-bottom: 1.5rem;
  font-weight: 300;
  font-size: 1.2rem;
  font-style: italic;

  @media screen and (min-width: $media-breakpoint-sm) {
    max-width: 70%;
  }
}

.st-Footer {
  padding: 1.5rem 0;
  background-color: $dark-color;
}

.st-Footer_Copyright {
  margin: 0;
  color: transparentize(#fff, .7);
  font-size: .9rem;
}

.st-Footer_Link {
  color: transparentize(#fff, .5);

  &:focus,
  &:hover {
    color: #fff;
  }
}
