@import "variables";
@import "reboot";
@import "site";
@import "structure";
@import "form";
@import "button";
@import "network";

html,
body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  color: #333;

  &.is-loading {
    animation: none !important;
    transition: none !important;
  }
}

a {
  color: $link-color;
  transition: color .3s ease-in;

  &:focus,
  &:hover {
    color: darken($link-color, 5);
  }
}

@keyframes animateLinesX {
  0% {
    transform: translate(0, 0, 0);
  }

  50% {
    transform: translate(100%, 0, 0);
  }

  100% {
    transform: translate(0, 0, 0);
  }
}

@keyframes animateLinesY {
  0% {
    transform: translate(0, 0, 0);
  }

  50% {
    transform: translate(0, 20%, 0);
  }

  100% {
    transform: translate(0, 0, 0);
  }
}

#hero-svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  line {
    stroke: rgba(255,255,255,0.1);
    stroke-width: 1px;
    transform: translate(0, 0, 0);
    will-change: transform;

    .is-ready & {
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        animation: animateLinesX 5s;
        animation-delay: 2s;
      }
    }
  }
}

.vm-Figure_Wrapper {
  margin-bottom: 1rem;

  @media screen and (min-width: $media-breakpoint-xs) {
    float: right;
    margin-left: 1rem;
  }
}

.vm-Figure {
  position: relative;

  &:before {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 10px transparentize($primary-color, .6), 0 1px 2px transparentize($primary-color, .7);
  }
}

.vm-Figure_Avatar {
  display: inline-block;
  max-width: 300px;
  max-height: 300px;
  height: 100%;
  width: 100%;
}
