<div class="about">
  <app-hero [title]="title" [strap]="strap"></app-hero>

  <div class="container content">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <div>
          <h2 class="mt-0">What I do</h2>
          <p>My specialty is full-stack web development. What I mean is crafting RESTFull APIs with <strong>Django</strong> and consuming them with <strong>Angular</strong>. I have also worked with <strong>Symfony</strong> and <strong>Vue.js</strong>. I always deliver clean and maintainable test-driven code in <strong>Python</strong>, <strong>JavaScript</strong> and <strong>PHP</strong>. When they are ready for production, I often turn my web apps into native mobile or desktop apps using tools like <strong>Ionic</strong> and <strong>Electron</strong>.</p>
          <p>I also love to design and craft good looking websites from scratch with only HTML5, CSS3 and vanilla JavaScript. But for larger projects I know how to take advantage of the power of libraries like Bootstrap, jQuery and WordPress to deliver powerful and customizable solutions to my clients.</p>
        </div>

        <div>
          <h2>Tools I use</h2>
          <p>As a web developer, I use so many tools in my daily tasks but, those I can't go by without are:</p>
          <ul>
            <li><strong>Visual Studio Code</strong>: All the coding happens there.</li>
            <li><strong>Google Chrome</strong>: To check if everything works as expected.</li>
            <li><strong>Git</strong>: To track all the changes in my code.</li>
            <li><strong>Adobe XD</strong>: When I'm feeling inspired.</li>
          </ul>
        </div>

        <div>
          <h2>My interests</h2>
          <p>I currently have a big interest in machine learning and looking forward to take a course on it. I like to have deep conversations about tech with everyone. You can ping me on any of my social accounts if you are interested. I'll be happy to chat with you.</p>
          <p>When I'm not coding, I'm probably reading a book, watching a movie, listening good music, walking around the city or just spending some quality time with friends and family.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <app-contact-card></app-contact-card>
      </div>
    </div>
  </div>
</div>
