<div>
  <div class="grid grid-cols-3 gap-6">
    <div class="col-span-3 md:col-span-2">
      <h1 class="pb-5 text-slate-100 text-3xl flex items-center font-bold after:relative after:flex-1 after:h-0.5 after:bg-secondary after:ml-4">About me</h1>
      <p class="mb-4">Hello again! I started building things for the web in 2012. I built a lot of web apps using PHP, Symfony and Bootstrap before falling in love with Python, Django, vanilla JavaScript and Angular, in that order ;-).</p>
      <p class="mb-4">Today, I'm specialized in <strong class="text-white">#Django</strong> and <strong class="text-white">#Angular</strong> which I use to build highly available, maintainable and scalable web solutions.</p>
      <p class="mb-4">Here are a few technologies that I have been working with recently:</p>
      <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
        <div class="col-span-1 md:col-span-1">
          <ul class="list-disc ml-4">
            <li>JavaScript</li>
            <li>Angular</li>
            <li>Tailwind CSS</li>
          </ul>
        </div>
        <div class="col-span-1 md:col-span-1">
          <ul class="list-disc ml-4">
            <li>Typescript</li>
            <li>Python</li>
            <li>Django</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-span-3 md:col-span-1">
      <figure class="relative before:block before:absolute before:top-0 before:left:0 before:bg-accent before:opacity-50 before:w-full before:h-full before:rounded-md before:z-20 before:hover:bg-transparent before:transition-all after:block after:absolute after:top-5 after:left-5 hover:after:-translate-y-1 hover:after:-translate-x-1 after:transition-all after:border-2 after:border-accent after:h-full after:w-full after:rounded-md after:z-0 max-w-xs">
        <img src="assets/images/brand/me.jpg" alt="Valery Melou" class="relative rounded-md z-10">
      </figure>
    </div>
  </div>
</div>
