// Badges
$badge-font-weight: 400;

// Defaults
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

// Colors
$default: #171941;
$primary: #5e42a6;

// Fonts
$font-family-base: Roboto, sans-serif;

// Navbar
$navbar-height: 70px;
$navbar-nav-link-padding-x: 1rem;
$navbar-dark-toggler-border-color: transparent;
