// Colors
$default: #171941;
$primary: #5e42a6;

// Fonts
$font-family-base: Poppins, sans-serif;
$font-size-base: 0.9rem;

// Navbar
$navbar-height: 70px;
$navbar-nav-link-padding-x: 1rem;
$navbar-dark-toggler-border-color: transparent;
