// Import our custom Bootstrap
@import "bootstrap";

// Import fonts
@import "fonts";

@include media-breakpoint-up(sm) {
  .container {
    max-width: 100%;
  }
}

@include media-breakpoint-up(md) {
  .container {
    max-width: 1140px;
  }
}

a {
  transition: all .3s ease-in-out;
}
