// Import our custom Bootstrap
@import "bootstrap";

// Import fonts
@import "fonts";

@include media-breakpoint-up(sm) {
  .container {
    max-width: 100%;
  }
}

@include media-breakpoint-up(md) {
  .container {
    max-width: 1140px;
  }
}

.content {
  padding-top: 3rem;
  padding-bottom: 2rem;

  h2 {
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-size: 1.8rem;
  }
}

a {
  transition: all .3s ease-in-out;
}

.social-nav {
  display: flex;
  margin-left: -1rem;
  margin-top: auto;

  .nav-link {
    color: $navbar-dark-color;

    &:hover,
    &:focus {
      color: $white;
    }
  }

  .icon {
    font-size: 24px;
  }
}
