// Import our custom Bootstrap
@import "bootstrap";

// Import fonts
@import "fonts";

// Include code highlight styles
@import '~prismjs/plugins/toolbar/prism-toolbar.css';
@import '~prismjs/plugins/line-numbers/prism-line-numbers.css';
@import '~prismjs/themes/prism-tomorrow';

@include media-breakpoint-up(sm) {
  .container {
    max-width: 100%;
  }
}

@include media-breakpoint-up(md) {
  .container {
    max-width: 1030px;
  }
}

.content {
  padding-top: 3rem;
  padding-bottom: 2rem;

  h2 {
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-size: 1.8rem;
  }
}

a {
  transition: all .3s ease-in-out;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.vertical-separator {
  display: inline-block;
  margin: 0 .5rem;
}

.side-title {
  font-size: 1.1rem;
  text-transform: uppercase;
}

.code-toolbar {
  font-size: 1rem;
}
