<div class="app">
  <app-navbar></app-navbar>

  <div class="main" [@routeAnimations]="prepareRoute(outlet)" style="background-color: white;">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>

  <div class="alert-wrapper" *ngIf="updatesAvailable">
    <div class="alert alert-primary" role="alert">
      <h5>Updates available</h5>
      <p>A new version of my website is available.</p>
      <button type="button" class="btn btn-secondary" id="updateApp" (click)="refreshApp()">Update</button>
    </div>
  </div>
  <app-footer *ngIf="showFooter"></app-footer>
</div>
