<div class="text-center text-sm py-5 px-10">
  <p>Inspired by <a href="https://brittanychiang.com/" class="text-accent hover:text-white transition-colors" target="blank">brittanychiang.com</a> & built by <a href="https://github.com/valerymelou/valerymelou.com" class="text-accent hover:text-white transition-colors" target="blank">Valery MELOU</a>.</p>
  <p>Proudly hosted by <a href="https://hostme.space" class="text-accent hover:text-white transition-colors" target="blank">HOSTME</a>.</p>
</div>
