<div>
  <h1 class="my-7 text-accent font-bold text-xl">Hi, my name is</h1>
  <h2 class="my-7 text-slate-100 font-extrabold text-5xl md:text-7xl">Valery Melou.</h2>
  <h3 class="my-7 text-slate-400 font-extrabold text-3xl md:text-5xl">I use web technologies to solve problems.</h3>
  <div class="my-7 w-full md:w-3/4">
    <p>I'm a web developer specializing in building REST APIs with <strong class="text-white">#Django</strong> and consuming them with <strong class="text-white">#Angular</strong>. Currently, I'm focusing on contributing more to the <a href="https://github.com/valerymelou" target="blank" class="text-accent">Open Source Community</a> while learning to become an AWS Cloud Practitioner.</p>
  </div>
  <button class="px-8 py-3 border-2 border-accent animate-bounce rounded-md text-accent transition-colors hover:bg-secondary">Let's connect!</button>
</div>
