---
layout: home
title: Portfolio
description: Here is a short list of the latest projects that I've built or been part of.
permalink: /portfolio/
---

<section class="st-Section">
  <div class="st-Container">
    <h2 class="st-Section_Title">Portfolio</h2>
    <div class="st-Section_Intro">I've worked with several larger as well as smaller brands. Here is a short list of the latest projects that I have built or been part of.</div>
    <div class="po-Project">
      <div class="po-Project_Timeline">
        <span class="po-Project_Timeline_Date">Currently</span>
      </div>
      <div class="po-Project_Content">
          <p>I am currently working fulltime as a web developer for a local tech company where I build solutions for businesses. But I still have time to commit to other projects by night.</p>
          <p>So, feel free to <a href="">contact me</a> if you have a project that I can help with.</p>
          <hr class="po-Project_Divider">
      </div>
    </div>
    {% for project in site.data.projects %}
      <div class="po-Project">
        <div class="po-Project_Timeline">
          <time class="po-Project_Timeline_Date">{{ project.date }}</time>
        </div>
        <div class="po-Project_Content">
          {% if project.url %}
            <a href="{{ project.url }}" class="po-Project_TitleLink">
              <h3 class="po-Project_Title">{{ project.name }}</h3>
            </a>
          {% else %}
            <h3 class="po-Project_Title">{{ project.name }}</h3>
          {% endif %}
          <div class="po-Project_Abstract">
            {{ project.abstract }}
          </div>
          <picture>
            <img src="{{ base.url }}/assets/images/projects/{{ project.screenshot }}" alt="{{ project.name }}" class="po-Project_Screenshot">
          </picture>
          <div class="po-Project_Description">
            {{ project.description|markdownify }}
          </div>
          <div class="po-Project_Techs">
            <h4>Technologies</h4>
            {% for tech in project.technologies %}
              <span class="po-Project_Tech">{{ tech }}</span>
            {% endfor %}
          </div>
          <hr class="po-Project_Divider">
        </div>
      </div>
    {% endfor %}
  </div>
</section>
