<div class="bg-primary-base px-5 py-10 text-white">
  <div class="container xl:max-w-[1440px] mx-auto">
    <div class="flex items-center justify-between text-sm mt-auto">
      <p>You can edit this site on <a href="https://github.com/valerymelou/valerymelou.com" class="text-accent-base inline-block relative after:block after:relative after:w-0 after:h-[1px] after:bg-accent-base hover:after:w-full after:transition-[width] after:duration-300 after:ease-in-out" target="_blank" rel="noopener">Github</a>.</p>
      <p>Designed & Built by <a href="/" class="text-accent-base inline-block relative after:block after:relative after:w-0 after:h-[1px] after:bg-accent-base hover:after:w-full after:transition-[width] after:duration-300 after:ease-in-out">Valery Melou</a>.</p>
    </div>
  </div>
</div>
