<div class="blog">
  <app-hero></app-hero>

  <div class="container content">
    <div *ngIf="post">
      <div class="meta">
        <p class="m-0">By <a routerLink="/about">Valery Melou</a> on <span>{{ post.date | date }}</span></p>
        <div class="d-flex" *ngIf="post.topics">
          <span class="vertical-separator">|</span>
          <div *ngFor="let topic of post.topics">
            <a [routerLink]="'/blog/topics/' + topic | slugify">{{ topic }}</a>
            <span class="vertical-separator" *ngIf="post.topics.indexOf(topic) != post.topics.length - 1">|</span>
          </div>
        </div>
      </div>
    </div>

    <div class="scully">
      <scully-content></scully-content>
    </div>

    <div *ngIf="post && post.allowComments" class="mt-5">
      <disqus [identifier]="getPageId()" [url]="getCanonicalUrl()" [category]="post.topics.length > 0 ? post.topics[0] : ''" [language]="'en'"></disqus>
    </div>
  </div>
</div>
