<div class="blog">
  <app-hero [title]="title" [strap]="strap"></app-hero>

  <div class="container content">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <h2 class="m-0">{{ subtitle }}</h2>
        <a [routerLink]="post.route" class="post media" *ngFor="let post of blogPosts">
          <div class="media-body">
            <h3 class="title">{{ post.title }}</h3>
            <p class="description">{{ post.description | truncateWords:25  }}</p>
            <div class="meta">
              <div *ngIf="post.topics" class="d-flex">
                <div *ngFor="let topic of post.topics" class="d-flex">
                  <a [routerLink]="'/blog/topics/' + topic | slugify" class="post-tag">{{ topic }}</a>
                  <span class="vertical-separator">|</span>
                </div>
              </div>
              <span>{{ post.date | date }}</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 offset-md-1 col-sm-12 offset-0">
        <h4 class="side-title">topics</h4>
        <ul class="nav flex-row flex-md-column">
          <li class="nav-item" *ngFor="let topic of topics">
            <a [routerLink]="'/blog/topics/' + topic | slugify " class="nav-link pl-0">{{ topic }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
