<!DOCTYPE html>
<html lang="en">
  <head>
      {% include head.html %}
  </head>

  <body class="loading">

    <header class="st-Header">
      <div class="st-Container">
        <a href="/" class="st-Header_Brand">
          <img src="{{ site.baseurl }}/assets/images/logo.png" class="st-Header_Brand_Logo" alt="Valery Melou" width="32" height="32">
          <div>
            <h1 class="st-Header_Brand_Name">Valery Melou</h1>
            <p class="st-Header_Brand_Title">Full stack web developer</p>
          </div>
        </a>
        <button class="st-Header_MenuToggler" aria-label="Toggle navigation">
          {% include icons/burger.svg width="24" height="24" %}
        </button>
      </div>
    </header>

    <div class="st-AsideMask"></div>

    <aside class="st-Aside">
      <a href="/" class="st-Aside_Brand">
        <img src="{{ site.baseurl }}/assets/images/logo.png" class="st-Aside_Brand_Logo" alt="Valery Melou" width="32" height="32">
        <div class="st-Aside_Brand_Description">
          <h1 class="st-Aside_Brand_Name">Valery Melou</h1>
          <p class="st-Aside_Brand_Title">Full stack web developer</p>
        </div>
      </a>

      <nav class="st-Nav">
        <a href="{{ site.baseurl }}" class="st-Nav_Link {% if page.url == '/' %}st-Nav_Link-active{% endif %}">Home</a>
        <a href="" class="st-Nav_Link">About</a>
        <a href="" class="st-Nav_Link">Portfolio</a>
        <a href="" class="st-Nav_Link">Contact</a>
        <a href="" class="st-Nav_Link">Blog</a>
      </nav>
      <ul class="st-SocialNav">
        <li class="st-SocialNav_Item">
          <a href="https://github.com/valerymelou" class="st-SocialNav_Link" target="_blank" rel="noopener" aria-label="See my work on GitHub" title="See my work on GitHub">
            {% include icons/github.svg width="24" height="24" %}
          </a>
        </li>
        <li class="st-SocialNav_Item">
          <a href="https://twitter.com/valerymelou" class="st-SocialNav_Link" target="_blank" rel="noopener" aria-label="Follow me on Twitter" title="Follow me on Twitter">
            {% include icons/twitter.svg width="24" height="24" %}
          </a>
        </li>
        <li class="st-SocialNav_Item">
          <a href="https://linkedin.com/in/valerymelou" class="st-SocialNav_Link" target="_blank" rel="noopener" aria-label="Let's connect on LinkedIn" title="Let's connect on LinkedIn">
            {% include icons/linkedin.svg width="24" height="24" %}
          </a>
        </li>
      </ul>
    </aside>

    <main class="st-Main">
      {{ content }}
    </main>

    <footer class="st-Footer"></footer>

    {% include scripts.html %}
  </body>
</html>
