<!DOCTYPE html>
<html lang="en">
  <head>
      {% include head.html %}
      <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/blog.css">
  </head>

  <body class="loading">
    <div class="loader" aria-hidden="true">
      <p class="loader-text"><strong>loading</strong></p>
      <div class="loading-animation"><div></div><div></div><div></div><div></div></div>
    </div>

    {% include header.html %}

    {% include sidebar.html %}

    <main>
      <section>
        <div class="container blog">
          <div class="header">
            <h2>Blog</h2>
            <a href="/blog" class="all-posts-link">« Back to all posts</a>
          </div>
          <div class="post">
            <h3 class="post-title">{{ page.title }}</h3>
            <div class="post-feature-meta">
              <span>Posted on</span>
              <time datetime="{{ page.date | date: '%Y-%m-%d' }}">
                {% assign d = page.date | date: "%-d"  %}
                {{ page.date | date: "%B" }}
                {% case d %}
                  {% when '1' or '21' or '31' %}{{ d }}st
                  {% when '2' or '22' %}{{ d }}nd
                  {% when '3' or '23' %}{{ d }}rd
                  {% else %}{{ d }}th
                  {% endcase %},
                {{ page.date | date: "%Y" }}
              </time> by <a href="/about">Valery Melou</a>
            </div>
            {{ content }}
          </div>
          <div class="post-comments">
            <div id="disqus_thread"></div>
            <script>
              var disqus_config = function () {
                this.page.url = "{{ 'site.url' | prepend: page.url }}";
                this.page.identifier = "{{ page.url }}"
              };
              (function() {
                var d = document, s = d.createElement('script');
                s.src = 'https://https-valerymelou-com.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
              })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          </div>
        </div>
      </section>
    </main>

    {% include footer.html %}

    {% include scripts.html %}
  </body>
</html>
