<header class="sticky top-0 flex px-10 py-4 items-center bg-primary">
  <a href="/" class="inline-block mr-auto">
    <img src="/assets/images/brand/logo.png" alt="Valery MELOU" width="48px">
  </a>
  <div class="fixed top-16 right-0 bottom-0 left-0 md:hidden backdrop-blur-sm" [ngClass]="{'hidden': collapsed}" (click)="toggleCollapsed()"></div>
  <button class="ml-auto md:hidden text-accent z-10" (click)="toggleCollapsed()" aria-label="Navbar Toggle">
    <ng-icon name="hero-menu-alt-2" size="32" *ngIf="collapsed"></ng-icon>
    <ng-icon name="hero-x" size="32" *ngIf="!collapsed"></ng-icon>
  </button>
  <nav class="fixed flex content-center md:relative w-3/4 md:w-auto md:translate-x-0 top-0 bottom-0 right-0 items-center justify-center flex-col md:flex-row bg-primary md:bg-transparent transition-transform" [ngClass]="{'translate-x-full': collapsed, 'translate-x-0': !collapsed}">
    <a [routerLink]="link.path" routerLinkActive="text-accent" *ngFor="let link of links" class="inline-flex flex-col md:flex-row items-center mr-1 my-2 md:my-0 px-5 py-2 font-medium md:text-sm transition-colors hover:text-accent focus:text-accent" [ngClass]="{'border-2 border-accent text-accent hover:text-slate-200 hover:border-slate-200 focus:text-slate-200 focus:border-slate-200 rounded': link.isExtra}">
      <ng-icon [name]="link.icon" size="16" class="mb-3 md:mb-0 text-accent" *ngIf="!link.isExtra"></ng-icon>
      <span class="md:ml-2">{{ link.title }}</span>
    </a>
  </nav>
</header>
