<nav class="navbar navbar-expand-md fixed-top navbar-dark" [class]="transparent ? 'transparent' : ''">
  <div class="container">
    <a href="" class="navbar-brand">
      <img src="assets/images/logo.png" alt="Valery Melou Logo" width="32">
      <span>Valery MELOU</span>
    </a>
    <button class="navbar-toggler" type="button" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation" (click)="toggle()">
      <span class="icon-menu icon" *ngIf="collapsed"></span>
      <span class="icon-close icon" *ngIf="!collapsed"></span>
    </button>
    <div class="navbar-collapse collapse" [class.show]="!collapsed" id="navigation">
      <ul class="navbar-nav">
        <li class="nav-item" *ngFor="let link of navbarLinks">
          <a [routerLink]="link.route" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            link.exactMatch}">
            <span [class]="link.icon"></span>
            <span class="nav-text">{{ link.label }}</span>
          </a>
        </li>
      </ul>

      <app-social-links scheme="light" class="mt-auto"></app-social-links>
    </div>
  </div>
</nav>
