.paginator {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.paginator-item {
  &.active {
    .paginator-link {
      color: #fff;
      background-color: $link-color;
      border-color: $link-color;
    }
  }

  &.disabled {
    .paginator-link {
      color: #6c757d;
      pointer-events: none;
      cursor: auto;
    }
  }
}

.paginator-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  line-height: 1.25;
  color: $link-color;
  background-color: #fff;
  border: 1px solid #dee2e6;
  transition: all .3s ease-in-out;

  &:focus,
  &:hover {
    text-decoration: none;
    background-color: #e9ecef;
  }
}
