.vm-Figure_Wrapper {
  margin-bottom: 3rem;

  @media screen and (min-width: $media-breakpoint-md) {
    float: right;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
}

.vm-Figure {
  position: relative;
  max-width: 300px;
  max-height: 300px;

  &::before {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    border-radius: 5px;
    box-shadow: inset 0 0 0 10px transparentize($primary-color, .6), 0 1px 2px transparentize($primary-color, .7);
  }
}

.vm-Figure_Avatar {
  display: inline-block;
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 300px;
  border-radius: 5px;
}

.vm-Figure_Caption {
  position: absolute;
  width: 100%;
  margin-top: 1rem;
  text-align: center;
}
