@import "variables";
@import "reboot";
@import "button";
@import "structure";
@import "typography";
@import "home";
@import "vm";
@import "projects";

html,
body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  padding-top: $header-height;
  color: #444;

  @media screen and (min-width: $media-breakpoint-sm) {
    padding-top: 0;
  }

  .noscroll {
    overflow: hidden;
  }
}

main {
  flex: 1 auto;
}

a {
  color: $accent-color;
  transition: color .3s ease-in-out;

  &:focus,
  &:hover {
    color: darken($accent-color, 10);
    text-decoration: none;
  }
}

svg {
  vertical-align: middle;
}
