@import "variables";
@import "monokai";
@import "paginator";

.container {
  &.blog {
    max-width: 768px;
    font-size: 20px;
  }

  .section-intro {
    max-width: 100%;
  }
}

.post-title {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
  text-transform: none;
}

.post-feature {
  margin-bottom: 5rem;
}

.post-feature-title {
  margin: 1rem 0;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
  text-transform: none;

  a {
    color: $body-color;

    &:focus,
    &:hover {
      color: $accent-color;
    }
  }
}

.post-feature-excerpt {
  margin-top: 1rem;
}

.post-feature-meta {
  margin-bottom: 1rem;
  font-size: .9rem;
  font-style: italic;
  color: #666;
}

.post-controls {
  display: flex;
  margin-top: 5rem;
}

.post-control-previous {
  margin-right: auto;
}

.post-control-next {
  margin-left: auto;
}

.highlight {
  font-size: 16px;

  pre {
    pre {
      margin-bottom: 0;
      border: none;
    }
  }

  .lineno {
    user-select: none;
    border: none;
    opacity: .6;
  }

  .gutter {
    padding: .5rem .2rem;
    border-right: 1px solid #666;
  }
}
